#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_main{
    border: 1px solid #c7c7c7; 
    padding-left: 0px; 
    padding-right: 0px; 
    float: none;
}
.travel_main img{
    width:100%;
}
.travel_main hr{
    color:lightcoral;
}
.travel_main h4,.travel_main p{
    margin-left: 20px;
    font-family: 'Permanent Marker', cursive;
}
.movie_head{
    font-size:35px;
    padding:6px 20px;
    border-radius:15px;
    margin-bottom:30px;
    width:100%;
    display:inline-block;
}
.movie_head i{
    float:right;

}
.movie_text span{
    color:gold;
}
.modal-content{
    margin-top:100px;
}
.img_modal{
    display:inline-block;

}
.p_modal{
    margin-top:10px;

}
.modal body{
    text-align:center;
}